@import url('https://fonts.googleapis.com/css?family=Work+Sans:400,600');
body {
	margin: 0;
	background: rgb(0, 0, 0);
	font-family: 'Work Sans', sans-serif;
	font-weight: 800;
}

.container {
	width: 80%;
	margin: 0 auto;
}

header {
  background-image: url(https://c4.wallpaperflare.com/wallpaper/897/950/537/ubuntu-linux-gradient-minimalism-wallpaper-preview.jpg) ;
  background-position: center;
  background-size: cover;  
}

header::after {
  content: '';
  display: table;
  clear: both;
}

.logo {
  font-size: 15pt;
  text-decoration: double;
  color: rgb(255, 255, 255);
  float: left;
  padding: 10px 0;
}

nav {
  float: right;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

nav li {
  display: inline-block;
  margin-left: 70px;
  padding-top: 23px;
  position: relative;
}

nav a {
  color: rgb(255, 255, 255);
  text-decoration: none;
  text-transform: uppercase;
  font-size: 14px;
}

nav a:hover {
  color: rgb(213, 207, 207);
}

nav a::before {
  content: '';
  display: block;
  height: 5px;
  background-color: rgb(238, 238, 238);

  position: absolute;
  top: 0;
  width: 0%;

  transition: all ease-in-out 250ms;
}

nav a:hover::before {
  width: 100%;
}

.logo{
    color: #fff;
}
.logo a{
    color: #fff;
}
.filterDiv {
    margin-left: auto;
    margin-right: auto;
    background-color: #828282;
    color: #ffffff;
    width: 100px;
    line-height: 100px;
    text-align: center;
    margin: 2px;
    display: none;
  }
  
  .show {
    display: block;
  }
  
  .containerp {
    margin-top: 20px;
    overflow: hidden;
  }

  .btn {
    border: none;
    outline: none;
    padding: 12px 16px;
    background-color: #f1f1f1;
    cursor: pointer;
  }
  
  .btn:hover {
    background-color: #ddd;
  }
  
  .btn.active {
    background-color: #666;
    color: white;
  }

